@use '../../sass/' as *;

.header {
    height: $header-height;
    @include flex(center,space-between);
    position: fixed;
    width: 100%;
    box-shadow: $box-shadow;
    background-color: $main-bg ;
    z-index: 99;
    transition: height .3s ease;
    @include tablet {
       height: calc($header-height - 30px);
    }
    &.shink {
        height: $header-shrink-height;
        @include tablet {
            height: calc($header-shrink-height - 30px);
         }
    }
    &-toggle {
        display: none;
        @include tablet {
            display: block;
        }

        &>i {
            font-size: 25px;
            padding: 10px;
        }
    }
    &-logo {
        position: absolute;
        @include flex(center,center);
        inset: 0;
        font-size: 30px;
        font-weight: 600;
        color: $main-color;
        user-select: none;
        z-index: -1;
        @include mobile {
            font-size: 25px;
        }
    }

    &-menu {
        @include flex(center,center);
        &-close {
            display: none;
        }
        &> li {
            margin-left: 30px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                height: 2.5px;
                width: 0;
                background-image: linear-gradient(to right, $main-color, rgba(13, 201, 243, 0.3));
                bottom: -4px;
                left: 50%;
                transform: translateX(-50%);
                transition: width 0.3s ease;
            }
            &:hover::after, &.active::after {
                width: 100%;
            }
            &.active, &:hover {
                color: $main-color;
            }
            &>a {
                font-size: 18px;
            }
        }
        //responsive menu
        @include tablet {
            // display: none;
            transform: translateX(-100%);
            position: absolute;
            height: 100vh;
            width: 100%;
            background-color: #fff;
            flex-direction: column;
            justify-content: flex-start;
            top:0;
            z-index: 999;
            transition: transform 0.3s ease;
            &.active {
                transform: translateX(0);
            }
            &-close {
                position:absolute;
                display: block;
                top: 0;
                left: 0;
                padding: 15px;
                &>i {
                    font-size: 30px;
                }
            }

            &> li {
                margin-top: 30px;
                margin-left: 0;
            }
        }

    }

    &-icon {
        @include flex(center,center);

        &>li {
            margin-right: 20px;
            font-size: 25px;
            @include flex(center,center);
            transition: transform 0.3s ease;
            &:hover {
                transform: translateY(-5px);
                color: $main-color;
            }
            @include mobile {
                margin-right: 10px;
            }
        }
    }
}