@use './sass/' as *;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: $txt-main-color;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}
img {
  max-width: 100%;
}
.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 8px;
}

.allContent {
  padding-top: 140px;
  @include flex(center,center);
  flex-direction: column;
}